
    :root{
    --color_1: #198754;
    --color_2: #ffffff; 
    --color_3: #000000; 
    }

    *{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
    }

    a{
    color:var(--color_3);
    }

    body{
    padding-top: 90px;
    }

    .custom-navbar{
    background-color: var(--color_1);
    }

    .navbar ul li a {
    color: var(--color_2);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 35px;
    }

    .navbar ul li a:hover {
    color: var(--color_3);
    font-size: 16px;
    text-decoration: none;
    background-color: var(--color_2);
    padding: 10px 15px; 
    border-radius: 35px;
    }


   
  
    .btn-form{
    border: none;
    border-radius: 25px;
    padding: 5px 15px; 
    margin-top: 15px;
    margin-bottom: 15px;
    }


    .timeline {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    margin:auto; 
    }

    .step {
    background-color: #F5F5F0;
    padding: 20px 20px;
    border-radius: 35px;
    margin-left: 30px;
    text-align: center;
    }

    .content h3 p{
    color: var(--color_3);
    }

    .container{
        margin-top: 50px;
    }

    .container-accordion{
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .accordion-button{
        background-color: var(--color_1);
        color: var(--color_2);
    }

    .accordion-button:not(.collapsed){
        background-color: var(--color_1);
        color: var(--color_2);
    }

    .accordion-button:focus {
        box-shadow: none;
        border-color: transparent;
    }

    @keyframes bounce {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
    }
    
    .plant-emoji {
        animation: bounce 1s infinite;
    }
    
    .plant-emoji:nth-child(1) { animation-delay: 0s; }
    .plant-emoji:nth-child(2) { animation-delay: 0.5s; }
    .plant-emoji:nth-child(3) { animation-delay: 1s; }

    .d-flex{
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 15px;
        background-color: #cef8d0;
     
    }

    
    
   