     :root{
    --color_1: #198754;
    --color_2: #ffffff; 
    --color_3: #000000; 
    --color_4: #cef8d0;
    }

    *{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
    }

    a{
    color:var(--color_3);
    }

    .custom-navbar{
    background-color: var(--color_1);
    }

    .navbar ul li a {
    color: var(--color_2);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 35px;
    }

    .navbar ul li a:hover {
    color: var(--color_3);
    font-size: 16px;
    text-decoration: none;
    background-color: var(--color_2);
    padding: 10px 15px; 
    border-radius: 35px;
    }
    
    
    body {
        padding-top: 90px;
        background-image: url("../../assets/sfondo.png");
        background-size: cover;
        background-position: center;
    }

    
    .container-accordion{
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .accordion-button{
        background-color: var(--color_1);
        color: var(--color_2);
    }

    .accordion-button:not(.collapsed){
        background-color: var(--color_1);
        color: var(--color_2);
    }

    .accordion-button:focus {
        box-shadow: none;
        border-color: transparent;
    }